In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [10]:
df_train = pd.read_csv("act_train.csv", parse_dates=['date'])

In [11]:
df_ppl = pd.read_csv('people.csv', parse_dates=['date'])

In [12]:
df_test = pd.read_csv('act_test.csv', parse_dates=['date'])

In [62]:
df_sample_submission = pd.read_csv('sample_submission.csv')

In [14]:
df_train_merge = pd.merge(df_train, df_ppl, on='people_id')
df_test_merge = pd.merge(df_test, df_ppl, on='people_id')

In [15]:
train = pd.read_csv("train_merged_converted.csv")

In [16]:
test = pd.read_csv('test_merged_converted.csv')

In [17]:
import datetime
import pandas as pd
import numpy as np
from sklearn.cross_validation import KFold
from sklearn.cross_validation import train_test_split
from sklearn.metrics import roc_auc_score
import xgboost as xgb
import random
from operator import itemgetter
import time
import copy

random.seed(2)

In [18]:
random_state = 0

In [20]:
train.groupby('outcome').describe()

               activity_category     char_10_x     char_10_y       char_11  \
outcome
0       count       1.221794e+06  1.221794e+06  1.221794e+06  1.221794e+06
        mean        3.000613e+00  3.629412e+02  1.384194e-01  1.246814e-01
        std         1.275466e+00  1.161698e+03  3.453398e-01  3.303575e-01
        min         1.000000e+00 -9.990000e+02  0.000000e+00  0.000000e+00
        25%         2.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
        50%         3.000000e+00  5.000000e+00  0.000000e+00  0.000000e+00
        75%         4.000000e+00  2.910000e+02  0.000000e+00  0.000000e+00
        max         7.000000e+00  9.251000e+03  1.000000e+00  1.000000e+00
1       count       9.754970e+05  9.754970e+05  9.754970e+05  9.754970e+05
        mean        2.993449e+00  4.374892e+02  3.700801e-01  3.090271e-01
        std         1.360862e+00  1.291335e+03  4.828261e-01  4.620926e-01
        min         1.000000e+00 -9.990000e+02  0.000000e+00  0.000000e+00
        25%         2.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
        50%         2.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
        75%         4.000000e+00  4.410000e+02  1.000000e+00  1.000000e+00
        max         7.000000e+00  9.235000e+03  1.000000e+00  1.000000e+00

                    char_12       char_13       char_14       char_15  \
outcome
0       count  1.221794e+06  1.221794e+06  1.221794e+06  1.221794e+06
        mean   1.496030e-01  2.122657e-01  1.586855e-01  1.582795e-01
        std    3.566820e-01  4.089121e-01  3.653827e-01  3.650031e-01
        min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
        25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
        50%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
        75%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
        max    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
1       count  9.754970e+05  9.754970e+05  9.754970e+05  9.754970e+05
        mean   3.415080e-01  5.213179e-01  3.759314e-01  3.918936e-01
        std    4.742157e-01  4.995456e-01  4.843627e-01  4.881734e-01
        min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
        25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
        50%    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
        75%    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
        max    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00

                    char_16       char_17      ...           char_8_y  \
outcome                                        ...
0       count  1.221794e+06  1.221794e+06      ...       1.221794e+06
        mean   1.579530e-01  1.646489e-01      ...       3.173525e+00
        std    3.646971e-01  3.708635e-01      ...       1.449145e+00
        min    0.000000e+00  0.000000e+00      ...       1.000000e+00
        25%    0.000000e+00  0.000000e+00      ...       3.000000e+00
        50%    0.000000e+00  0.000000e+00      ...       3.000000e+00
        75%    0.000000e+00  0.000000e+00      ...       3.000000e+00
        max    1.000000e+00  1.000000e+00      ...       8.000000e+00
1       count  9.754970e+05  9.754970e+05      ...       9.754970e+05
        mean   4.064215e-01  4.238342e-01      ...       2.993560e+00
        std    4.911653e-01  4.941650e-01      ...       1.659583e+00
        min    0.000000e+00  0.000000e+00      ...       1.000000e+00
        25%    0.000000e+00  0.000000e+00      ...       2.000000e+00
        50%    0.000000e+00  0.000000e+00      ...       2.000000e+00
        75%    1.000000e+00  1.000000e+00      ...       3.000000e+00
        max    1.000000e+00  1.000000e+00      ...       8.000000e+00

                   char_9_x      char_9_y         day_x         day_y  \
outcome
0       count  1.221794e+06  1.221794e+06  1.221794e+06  1.221794e+06
        mean  -9.225947e+02  3.405861e+00  1.712972e+01  1.587625e+01
        std    2.665276e+02  1.700472e+00  8.710963e+00  9.195526e+00
        min   -9.990000e+02  1.000000e+00  1.000000e+00  1.000000e+00
        25%   -9.990000e+02  3.000000e+00  1.000000e+01  8.000000e+00
        50%   -9.990000e+02  3.000000e+00  1.800000e+01  1.600000e+01
        75%   -9.990000e+02  3.000000e+00  2.400000e+01  2.500000e+01
        max    1.900000e+01  9.000000e+00  3.100000e+01  3.100000e+01
1       count  9.754970e+05  9.754970e+05  9.754970e+05  9.754970e+05
        mean  -9.321205e+02  3.564167e+00  1.620506e+01  1.574947e+01
        std    2.506609e+02  2.185201e+00  8.861836e+00  9.234192e+00
        min   -9.990000e+02  1.000000e+00  1.000000e+00  1.000000e+00
        25%   -9.990000e+02  2.000000e+00  9.000000e+00  7.000000e+00
        50%   -9.990000e+02  3.000000e+00  1.600000e+01  1.500000e+01
        75%   -9.990000e+02  4.000000e+00  2.400000e+01  2.500000e+01
        max    1.900000e+01  9.000000e+00  3.100000e+01  3.100000e+01

                    group_1       month_x       month_y        year_x  \
outcome
0       count  1.221794e+06  1.221794e+06  1.221794e+06  1.221794e+06
        mean   1.823986e+04  7.142654e+00  6.697368e+00  2.022458e+03
        std    7.056647e+03  3.325074e+00  3.513267e+00  4.982662e-01
        min    1.000000e+00  1.000000e+00  1.000000e+00  2.022000e+03
        25%    1.730400e+04  4.000000e+00  3.000000e+00  2.022000e+03
        50%    1.730400e+04  8.000000e+00  7.000000e+00  2.022000e+03
        75%    1.730400e+04  1.000000e+01  1.000000e+01  2.023000e+03
        max    5.146100e+04  1.200000e+01  1.200000e+01  2.023000e+03
1       count  9.754970e+05  9.754970e+05  9.754970e+05  9.754970e+05
        mean   1.365842e+04  6.742545e+00  6.894524e+00  2.022526e+03
        std    1.190185e+04  3.406042e+00  3.327347e+00  4.993203e-01
        min    2.000000e+00  1.000000e+00  1.000000e+00  2.022000e+03
        25%    3.250000e+03  3.000000e+00  4.000000e+00  2.022000e+03
        50%    1.048200e+04  7.000000e+00  7.000000e+00  2.023000e+03
        75%    2.102100e+04  1.000000e+01  1.000000e+01  2.023000e+03
        max    5.146200e+04  1.200000e+01  1.200000e+01  2.023000e+03

                     year_y
outcome
0       count  1.221794e+06
        mean   2.021778e+03
        std    8.429008e-01
        min    2.020000e+03
        25%    2.021000e+03
        50%    2.022000e+03
        75%    2.022000e+03
        max    2.023000e+03
1       count  9.754970e+05
        mean   2.021818e+03
        std    7.954273e-01
        min    2.020000e+03
        25%    2.021000e+03
        50%    2.022000e+03
        75%    2.022000e+03
        max    2.023000e+03

[16 rows x 56 columns]

In [21]:
df = train.groupby('outcome').describe()

In [22]:
df.to_csv('temp.csv')

In [23]:
df = pd.read_csv('temp.csv')

In [26]:
df2 = df[df['Unnamed: 1']=='mean']

In [27]:
df2

,outcome,Unnamed: 1,activity_category,char_10_x,char_10_y,char_11,char_12,char_13,char_14,char_15,...,char_8_y,char_9_x,char_9_y,day_x,day_y,group_1,month_x,month_y,year_x,year_y
1,0,mean,3.000613,362.941195,0.138419,0.124681,0.149603,0.212266,0.158686,0.158280,...,3.173525,-922.594651,3.405861,17.129722,15.876255,18239.857416,7.142654,6.697368,2022.458395,2021.777634
9,1,mean,2.993449,437.489176,0.370080,0.309027,0.341508,0.521318,0.375931,0.391894,...,2.993560,-932.120516,3.564167,16.205061,15.749472,13658.417823,6.742545,6.894524,2022.526066,2021.818147

In [28]:
df.columns

Index(['outcome', 'Unnamed: 1', 'activity_category', 'char_10_x', 'char_10_y',
       'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16',
       'char_17', 'char_18', 'char_19', 'char_1_x', 'char_1_y', 'char_20',
       'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26',
       'char_27', 'char_28', 'char_29', 'char_2_x', 'char_2_y', 'char_30',
       'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
       'char_37', 'char_38', 'char_3_x', 'char_3_y', 'char_4_x', 'char_4_y',
       'char_5_x', 'char_5_y', 'char_6_x', 'char_6_y', 'char_7_x', 'char_7_y',
       'char_8_x', 'char_8_y', 'char_9_x', 'char_9_y', 'day_x', 'day_y',
       'group_1', 'month_x', 'month_y', 'year_x', 'year_y'],
      dtype='object')

In [29]:
features = ['char_10_x', 'char_10_y',
       'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16',
       'char_17', 'char_18', 'char_19', 'char_1_x', 'char_1_y', 'char_20',
       'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26',
       'char_27', 'char_28', 'char_29', 'char_2_x', 'char_2_y', 'char_30',
       'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
       'char_37', 'char_38', 'char_3_x', 'char_3_y', 'char_4_x', 'char_4_y',
       'char_5_x', 'char_5_y', 'char_6_x', 'char_6_y', 'char_7_x', 'char_7_y',
       'char_8_x', 'char_8_y', 'char_9_x', 'char_9_y', 'day_x', 'day_y',
       'group_1', 'month_x', 'month_y', 'year_x', 'year_y']

In [34]:
df2.loc[1,'char_19']

0.16017757494307552

In [43]:

for item in features:
    print(item,1/(df2.loc[1,item]/df2.loc[9,item]))

char_10_x 1.2053996149
char_10_y 2.67361406986
char_11 2.47853379318
char_12 2.28276210409
char_13 2.45596800719
char_14 2.36903455169
char_15 2.47595837393
char_16 2.57305404435
char_17 2.57417018861
char_18 2.54456412275
char_19 2.56115822484
char_1_x 1.01034885096
char_1_y 0.95187421556
char_20 3.00270467889
char_21 2.57183925713
char_22 2.63782312176
char_23 2.40843605057
char_24 2.63824599606
char_25 2.36913099921
char_26 2.17682468909
char_27 2.38167731805
char_28 2.54089380861
char_29 2.38197670168
char_2_x 1.01031866845
char_2_y 1.20811925273
char_30 2.33424461857
char_31 2.34773619618
char_32 2.57735920573
char_33 2.29537268598
char_34 2.41195111901
char_35 2.39672411958
char_36 2.52904163872
char_37 2.65919336731
char_38 2.74445229637
char_3_x 1.01029665018
char_3_y 0.771120203267
char_4_x 1.01029104989
char_4_y 0.838202712699
char_5_x 1.01028971122
char_5_y 0.925481681831
char_6_x 1.01028277227
char_6_y 0.781472474136
char_7_x 1.01029033043
char_7_y 0.840235773267
char_8_x 1.0103142568
char_8_y 0.943291782571
char_9_x 1.01032508157
char_9_y 1.04648053356
day_x 0.946020083365
day_y 0.992014325964
group_1 0.748822620223
month_x 0.943983065125
month_y 1.02943776447
year_x 1.00003345998
year_y 1.00002003815

#  select columns which has 2.6 or bigger values

In [44]:
select_feature = ['char_10_y','char_20', 'char_22','char_24','char_37','char_38']

In [45]:
df_selected_train = train[select_feature]

In [47]:
df_selected_train.head()

   char_10_y  char_20  char_22  char_24  char_37  char_38
0          1        0        0        0        0       36
1          1        0        0        0        0       36
2          1        0        0        0        0       36
3          1        0        0        0        0       36
4          1        0        0        0        0       36

In [53]:
x_train = df_selected_train.values

In [50]:
y_train = train['outcome']

In [55]:
x_test = test[select_feature]

#  ML with Random Forest

In [52]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [54]:
from sklearn.ensemble import RandomForestClassifier

Xtrain, Xtest, ytrain, ytest = train_test_split(x_train,y_train,random_state=0)
clf = RandomForestClassifier(n_estimators=100, random_state=0)
clf.fit(Xtrain, ytrain)
ypred = clf.predict(Xtest)
metrics.accuracy_score(ypred, ytest)

0.84307229080158663

In [56]:
prediction = clf.predict(x_test)

In [57]:
prediction

array([1, 1, 1, ..., 0, 0, 0])

In [63]:
df_sample_submission.head()

   activity_id  outcome
0       act1_1        0
1  act1_100006        0
2  act1_100050        0
3  act1_100065        0
4  act1_100068        0

In [59]:
test.head()

,people_id,activity_id,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,...,char_32,char_33,char_34,char_35,char_36,char_37,char_38,year_y,month_y,day_y
0,ppl_100004,act1_249281,1,5,10,5,1,6,1,1,...,1,1,1,1,1,1,76,2022,7,20
1,ppl_100004,act2_230855,5,-999,-999,-999,-999,-999,-999,-999,...,1,1,1,1,1,1,76,2022,7,20
2,ppl_10001,act1_240724,1,12,1,5,4,6,1,1,...,1,1,1,1,1,1,90,2022,10,14
3,ppl_10001,act1_83552,1,20,10,5,4,6,1,1,...,1,1,1,1,1,1,90,2022,10,14
4,ppl_10001,act2_1043301,5,-999,-999,-999,-999,-999,-999,-999,...,1,1,1,1,1,1,90,2022,10,14

In [64]:
df_sample_submission['activity_id']=test['activity_id']

In [65]:
df_sample_submission.head()

    activity_id  outcome
0   act1_249281        0
1   act2_230855        0
2   act1_240724        0
3    act1_83552        0
4  act2_1043301        0

In [66]:
df_sample_submission['outcome']=prediction

In [67]:
df_sample_submission.head()

    activity_id  outcome
0   act1_249281        1
1   act2_230855        1
2   act1_240724        1
3    act1_83552        1
4  act2_1043301        1

In [68]:
df_sample_submission.to_csv('09-10-16_randomForest_1.csv', index = False)

#  ML with gradient boost

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
Xtrain, Xtest, ytrain, ytest = train_test_split(x_train,y_train, random_state=0)
gbt = GradientBoostingClassifier(max_depth=10, n_estimators=50)
gbt.fit(Xtrain, ytrain)
ypred = gbt.predict(Xtest)
metrics.accuracy_score(ypred, ytest)

#  XGBoost

In [70]:
import datetime
import pandas as pd
import numpy as np
from sklearn.cross_validation import KFold
from sklearn.cross_validation import train_test_split
from sklearn.metrics import roc_auc_score
import xgboost as xgb
import random
from operator import itemgetter
import time
import copy

random.seed(2)

In [71]:
random_state = 0

In [72]:
def get_importance(gbm, features):
    create_feature_map(features)
    importance = gbm.get_fscore(fmap='xgb.fmap')
    importance = sorted(importance.items(), key=itemgetter(1), reverse=True)
    return importance


def create_feature_map(features):
    outfile = open('xgb.fmap', 'w')
    for i, feat in enumerate(features):
        outfile.write('{0}\t{1}\tq\n'.format(i, feat))
    outfile.close()

def intersect(a, b):
    return list(set(a) & set(b))

In [73]:
eta = 0.1
max_depth = 6
subsample = 0.8
colsample_bytree = 0.8
start_time = time.time()

print('XGBoost params. ETA: {}, MAX_DEPTH: {}, SUBSAMPLE: {}, COLSAMPLE_BY_TREE: {}'.format(eta, max_depth, subsample, colsample_bytree))
params = {
        "objective": "binary:logistic",
        "booster" : "gbtree",
        "eval_metric": "auc",
        "eta": eta,
        "tree_method": 'exact',
        "max_depth": max_depth,
        "subsample": subsample,
        "colsample_bytree": colsample_bytree,
        "silent": 1,
        "seed": 0
}

early_stopping_rounds = 10
test_size = 0.1

XGBoost params. ETA: 0.1, MAX_DEPTH: 6, SUBSAMPLE: 0.8, COLSAMPLE_BY_TREE: 0.8

In [74]:
num_boost_round = 100

In [75]:
features =  ['char_10_y','char_20', 'char_22','char_24','char_37','char_38']

In [80]:
features = ['char_10_x', 'char_10_y',
       'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16',
       'char_17', 'char_18', 'char_19', 'char_1_x', 'char_1_y', 'char_20',
       'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26',
       'char_27', 'char_28', 'char_29', 'char_2_x', 'char_2_y', 'char_30',
       'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
       'char_37', 'char_38', 'char_3_x', 'char_3_y', 'char_4_x', 'char_4_y',
       'char_5_x', 'char_5_y', 'char_6_x', 'char_6_y', 'char_7_x', 'char_7_y',
       'char_8_x', 'char_8_y', 'char_9_x', 'char_9_y', 'day_x', 'day_y',
       'group_1', 'month_x', 'month_y', 'year_x', 'year_y']

In [81]:
num_boost_round = 200

In [82]:
target = 'outcome'
X_train, X_valid = train_test_split(train, test_size=test_size, random_state=random_state)
print('Length train:', len(X_train.index))
print('Length valid:', len(X_valid.index))
y_train = X_train[target]
y_valid = X_valid[target]
dtrain = xgb.DMatrix(X_train[features], y_train)
dvalid = xgb.DMatrix(X_valid[features], y_valid)

watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
gbm = xgb.train(params, dtrain, num_boost_round, evals=watchlist, early_stopping_rounds=early_stopping_rounds, verbose_eval=True)

print("Validating...")
check = gbm.predict(xgb.DMatrix(X_valid[features]), ntree_limit=gbm.best_iteration+1)
score = roc_auc_score(X_valid[target].values, check)
print('Check error value: {:.6f}'.format(score))

imp = get_importance(gbm, features)
print('Importance array: ', imp)

print("Predict test set...")
test_prediction = gbm.predict(xgb.DMatrix(test[features]), ntree_limit=gbm.best_iteration+1)

print('Training time: {} minutes'.format(round((time.time() - start_time)/60, 2)))
results  = test_prediction.tolist()
print(score)

Length train: 1977561
Length valid: 219730
Will train until eval error hasn't decreased in 10 rounds.
[0]	train-auc:0.914236	eval-auc:0.914012
[1]	train-auc:0.927364	eval-auc:0.927040
[2]	train-auc:0.930530	eval-auc:0.930100
[3]	train-auc:0.931309	eval-auc:0.930681
[4]	train-auc:0.932235	eval-auc:0.931749
[5]	train-auc:0.932460	eval-auc:0.932110
[6]	train-auc:0.932487	eval-auc:0.932251
[7]	train-auc:0.933023	eval-auc:0.932803
[8]	train-auc:0.934069	eval-auc:0.933789
[9]	train-auc:0.934331	eval-auc:0.934048
[10]	train-auc:0.934775	eval-auc:0.934528
[11]	train-auc:0.935324	eval-auc:0.935095
[12]	train-auc:0.936180	eval-auc:0.935939
[13]	train-auc:0.936846	eval-auc:0.936623
[14]	train-auc:0.936939	eval-auc:0.936750
[15]	train-auc:0.937149	eval-auc:0.936916
[16]	train-auc:0.937302	eval-auc:0.937039
[17]	train-auc:0.938080	eval-auc:0.937837
[18]	train-auc:0.938563	eval-auc:0.938319
[19]	train-auc:0.939736	eval-auc:0.939436
[20]	train-auc:0.939860	eval-auc:0.939586
[21]	train-auc:0.940015	eval-auc:0.939747
[22]	train-auc:0.940632	eval-auc:0.940336
[23]	train-auc:0.940800	eval-auc:0.940500
[24]	train-auc:0.941322	eval-auc:0.941025
[25]	train-auc:0.941520	eval-auc:0.941223
[26]	train-auc:0.941991	eval-auc:0.941646
[27]	train-auc:0.942207	eval-auc:0.941878
[28]	train-auc:0.942570	eval-auc:0.942239
[29]	train-auc:0.942981	eval-auc:0.942637
[30]	train-auc:0.943112	eval-auc:0.942766
[31]	train-auc:0.943331	eval-auc:0.943015
[32]	train-auc:0.943568	eval-auc:0.943234
[33]	train-auc:0.943751	eval-auc:0.943416
[34]	train-auc:0.944206	eval-auc:0.943868
[35]	train-auc:0.944460	eval-auc:0.944105
[36]	train-auc:0.944882	eval-auc:0.944574
[37]	train-auc:0.945176	eval-auc:0.944867
[38]	train-auc:0.945259	eval-auc:0.944950
[39]	train-auc:0.945487	eval-auc:0.945174
[40]	train-auc:0.945599	eval-auc:0.945279
[41]	train-auc:0.945863	eval-auc:0.945541
[42]	train-auc:0.945880	eval-auc:0.945562
[43]	train-auc:0.946234	eval-auc:0.945945
[44]	train-auc:0.946561	eval-auc:0.946279
[45]	train-auc:0.946827	eval-auc:0.946549
[46]	train-auc:0.947134	eval-auc:0.946854
[47]	train-auc:0.947405	eval-auc:0.947142
[48]	train-auc:0.947723	eval-auc:0.947480
[49]	train-auc:0.948161	eval-auc:0.947929
[50]	train-auc:0.948492	eval-auc:0.948273
[51]	train-auc:0.948816	eval-auc:0.948597
[52]	train-auc:0.949011	eval-auc:0.948794
[53]	train-auc:0.949554	eval-auc:0.949300
[54]	train-auc:0.949701	eval-auc:0.949470
[55]	train-auc:0.949869	eval-auc:0.949637
[56]	train-auc:0.949957	eval-auc:0.949727
[57]	train-auc:0.950059	eval-auc:0.949858
[58]	train-auc:0.950544	eval-auc:0.950332
[59]	train-auc:0.950931	eval-auc:0.950719
[60]	train-auc:0.951192	eval-auc:0.950983
[61]	train-auc:0.951341	eval-auc:0.951127
[62]	train-auc:0.951688	eval-auc:0.951455
[63]	train-auc:0.951703	eval-auc:0.951491
[64]	train-auc:0.951876	eval-auc:0.951660
[65]	train-auc:0.951910	eval-auc:0.951694
[66]	train-auc:0.952164	eval-auc:0.951930
[67]	train-auc:0.952274	eval-auc:0.952048
[68]	train-auc:0.952379	eval-auc:0.952155
[69]	train-auc:0.952478	eval-auc:0.952265
[70]	train-auc:0.952761	eval-auc:0.952529
[71]	train-auc:0.952780	eval-auc:0.952556
[72]	train-auc:0.952952	eval-auc:0.952722
[73]	train-auc:0.953315	eval-auc:0.953085
[74]	train-auc:0.953876	eval-auc:0.953636
[75]	train-auc:0.954040	eval-auc:0.953813
[76]	train-auc:0.954587	eval-auc:0.954364
[77]	train-auc:0.954778	eval-auc:0.954564
[78]	train-auc:0.954953	eval-auc:0.954726
[79]	train-auc:0.954960	eval-auc:0.954739
[80]	train-auc:0.955218	eval-auc:0.954989
[81]	train-auc:0.955287	eval-auc:0.955057
[82]	train-auc:0.955673	eval-auc:0.955405
[83]	train-auc:0.955817	eval-auc:0.955554
[84]	train-auc:0.956091	eval-auc:0.955820
[85]	train-auc:0.956305	eval-auc:0.956048
[86]	train-auc:0.956639	eval-auc:0.956390
[87]	train-auc:0.956737	eval-auc:0.956488
[88]	train-auc:0.956761	eval-auc:0.956520
[89]	train-auc:0.956925	eval-auc:0.956690
[90]	train-auc:0.957017	eval-auc:0.956785
[91]	train-auc:0.957169	eval-auc:0.956939
[92]	train-auc:0.957557	eval-auc:0.957323
[93]	train-auc:0.957743	eval-auc:0.957514
[94]	train-auc:0.957786	eval-auc:0.957555
[95]	train-auc:0.958067	eval-auc:0.957831
[96]	train-auc:0.958229	eval-auc:0.957993
[97]	train-auc:0.958416	eval-auc:0.958171
[98]	train-auc:0.958755	eval-auc:0.958484
[99]	train-auc:0.958775	eval-auc:0.958506
[100]	train-auc:0.958931	eval-auc:0.958671
[101]	train-auc:0.959181	eval-auc:0.958921
[102]	train-auc:0.959425	eval-auc:0.959177
[103]	train-auc:0.959773	eval-auc:0.959522
[104]	train-auc:0.959800	eval-auc:0.959549
[105]	train-auc:0.960024	eval-auc:0.959748
[106]	train-auc:0.960164	eval-auc:0.959884
[107]	train-auc:0.960248	eval-auc:0.959949
[108]	train-auc:0.960571	eval-auc:0.960237
[109]	train-auc:0.960805	eval-auc:0.960492
[110]	train-auc:0.960898	eval-auc:0.960576
[111]	train-auc:0.961002	eval-auc:0.960671
[112]	train-auc:0.961192	eval-auc:0.960839
[113]	train-auc:0.961249	eval-auc:0.960900
[114]	train-auc:0.961374	eval-auc:0.961025
[115]	train-auc:0.961605	eval-auc:0.961255
[116]	train-auc:0.961700	eval-auc:0.961344
[117]	train-auc:0.961937	eval-auc:0.961586
[118]	train-auc:0.962062	eval-auc:0.961702
[119]	train-auc:0.962071	eval-auc:0.961714
[120]	train-auc:0.962239	eval-auc:0.961868
[121]	train-auc:0.962369	eval-auc:0.961996
[122]	train-auc:0.962505	eval-auc:0.962125
[123]	train-auc:0.962546	eval-auc:0.962162
[124]	train-auc:0.962658	eval-auc:0.962261
[125]	train-auc:0.962837	eval-auc:0.962445
[126]	train-auc:0.963072	eval-auc:0.962677
[127]	train-auc:0.963292	eval-auc:0.962904
[128]	train-auc:0.963332	eval-auc:0.962936
[129]	train-auc:0.963655	eval-auc:0.963243
[130]	train-auc:0.963832	eval-auc:0.963409
[131]	train-auc:0.963950	eval-auc:0.963528
[132]	train-auc:0.964008	eval-auc:0.963581
[133]	train-auc:0.964098	eval-auc:0.963670
[134]	train-auc:0.964170	eval-auc:0.963735
[135]	train-auc:0.964177	eval-auc:0.963742
[136]	train-auc:0.964235	eval-auc:0.963799
[137]	train-auc:0.964410	eval-auc:0.963971
[138]	train-auc:0.964470	eval-auc:0.964024
[139]	train-auc:0.964690	eval-auc:0.964224
[140]	train-auc:0.964856	eval-auc:0.964386
[141]	train-auc:0.965104	eval-auc:0.964625
[142]	train-auc:0.965293	eval-auc:0.964817
[143]	train-auc:0.965497	eval-auc:0.965025
[144]	train-auc:0.965705	eval-auc:0.965222
[145]	train-auc:0.965874	eval-auc:0.965389
[146]	train-auc:0.966009	eval-auc:0.965521
[147]	train-auc:0.966060	eval-auc:0.965566
[148]	train-auc:0.966185	eval-auc:0.965690
[149]	train-auc:0.966467	eval-auc:0.965999
[150]	train-auc:0.966576	eval-auc:0.966104
[151]	train-auc:0.966675	eval-auc:0.966217
[152]	train-auc:0.966805	eval-auc:0.966333
[153]	train-auc:0.966904	eval-auc:0.966428
[154]	train-auc:0.966953	eval-auc:0.966472
[155]	train-auc:0.967237	eval-auc:0.966763
[156]	train-auc:0.967401	eval-auc:0.966927
[157]	train-auc:0.967499	eval-auc:0.967014
[158]	train-auc:0.967592	eval-auc:0.967110
[159]	train-auc:0.967606	eval-auc:0.967123
[160]	train-auc:0.967671	eval-auc:0.967190
[161]	train-auc:0.967752	eval-auc:0.967267
[162]	train-auc:0.967849	eval-auc:0.967363
[163]	train-auc:0.968055	eval-auc:0.967585
[164]	train-auc:0.968075	eval-auc:0.967606
[165]	train-auc:0.968148	eval-auc:0.967676
[166]	train-auc:0.968183	eval-auc:0.967710
[167]	train-auc:0.968237	eval-auc:0.967757
[168]	train-auc:0.968407	eval-auc:0.967937
[169]	train-auc:0.968534	eval-auc:0.968049
[170]	train-auc:0.968743	eval-auc:0.968252
[171]	train-auc:0.968877	eval-auc:0.968396
[172]	train-auc:0.968900	eval-auc:0.968412
[173]	train-auc:0.969087	eval-auc:0.968605
[174]	train-auc:0.969266	eval-auc:0.968783
[175]	train-auc:0.969324	eval-auc:0.968848
[176]	train-auc:0.969456	eval-auc:0.968978
[177]	train-auc:0.969524	eval-auc:0.969040
[178]	train-auc:0.969626	eval-auc:0.969124
[179]	train-auc:0.969739	eval-auc:0.969242
[180]	train-auc:0.969780	eval-auc:0.969287
[181]	train-auc:0.969941	eval-auc:0.969435
[182]	train-auc:0.969967	eval-auc:0.969462
[183]	train-auc:0.970066	eval-auc:0.969559
[184]	train-auc:0.970179	eval-auc:0.969669
[185]	train-auc:0.970310	eval-auc:0.969796
[186]	train-auc:0.970348	eval-auc:0.969834
[187]	train-auc:0.970483	eval-auc:0.969961
[188]	train-auc:0.970574	eval-auc:0.970048
[189]	train-auc:0.970711	eval-auc:0.970189
[190]	train-auc:0.970736	eval-auc:0.970216
[191]	train-auc:0.970835	eval-auc:0.970315
[192]	train-auc:0.970927	eval-auc:0.970404
[193]	train-auc:0.971062	eval-auc:0.970539
[194]	train-auc:0.971146	eval-auc:0.970621
[195]	train-auc:0.971260	eval-auc:0.970731
[196]	train-auc:0.971321	eval-auc:0.970786
[197]	train-auc:0.971349	eval-auc:0.970814
[198]	train-auc:0.971549	eval-auc:0.971008
[199]	train-auc:0.971609	eval-auc:0.971055
Validating...
Check error value: 0.971055
Importance array:  [('group_1', 2502), ('char_7_y', 1070), ('char_38', 1061), ('day_y', 585), ('char_6_y', 499), ('char_9_y', 409), ('char_3_y', 374), ('char_8_y', 367), ('month_y', 367), ('char_4_y', 305), ('month_x', 267), ('char_10_x', 249), ('year_x', 193), ('char_5_y', 185), ('year_y', 177), ('char_25', 128), ('day_x', 112), ('char_10_y', 111), ('char_2_y', 100), ('char_11', 94), ('char_1_y', 89), ('char_20', 85), ('char_35', 84), ('char_29', 83), ('char_13', 75), ('char_31', 73), ('char_26', 72), ('char_14', 72), ('char_24', 70), ('char_18', 69), ('char_17', 62), ('char_33', 58), ('char_32', 58), ('char_34', 57), ('char_23', 57), ('char_15', 55), ('char_30', 54), ('char_12', 54), ('char_16', 50), ('char_19', 46), ('char_27', 43), ('char_37', 41), ('char_36', 40), ('char_21', 39), ('char_22', 26), ('char_28', 23), ('char_1_x', 16), ('char_3_x', 11), ('char_9_x', 10), ('char_7_x', 7), ('char_8_x', 7), ('char_2_x', 6), ('char_5_x', 5), ('char_6_x', 2), ('char_4_x', 1)]
Predict test set...
Training time: 31.83 minutes
0.97105526533

In [83]:
def create_submission(score, test, prediction):
    now = datetime.datetime.now()
    sub_file = 'submission_' + str(score) + '_' + str(now.strftime("%Y-%m-%d-%H-%M")) + '.csv'
    print('Writing submission: ', sub_file)
    f = open(sub_file, 'w')
    f.write('activity_id,outcome\n')
    total = 0
    for id in test['activity_id']:
        str1 = str(id) + ',' + str(prediction[total])
        str1 += '\n'
        total += 1
        f.write(str1)
    f.close()

In [84]:
create_submission(score, test, test_prediction)

Writing submission:  submission_0.97105526533_2016-09-10-11-49.csv